@model LoginArtesanos.Models.MainModel

@{
    ViewBag.Title = "AgregarProducto";
}

<h2>Agregar Producto</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Ingresa la información de un nuevo producto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(m => m.Usuario.IdUsuario, new { @Values = Model.Usuario.IdUsuario})

        <div class="form-group">
            @Html.LabelFor(model => model.Producto.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Producto.Nombre, new { htmlAttributes = new { @class = "form-control", @Autofocus="autofocus", @Required="required" } })
                @Html.ValidationMessageFor(model => model.Producto.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Producto.Peso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Producto.Peso, new { htmlAttributes = new { @class = "form-control", @Required="required" } })
                @Html.ValidationMessageFor(model => model.Producto.Peso, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Producto.Stock, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Producto.Stock, new { htmlAttributes = new { @class = "form-control", @Required="required" } })
                @Html.ValidationMessageFor(model => model.Producto.Stock, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Producto.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Producto.Precio, new { htmlAttributes = new { @class = "form-control", @Required="required", @Autocomplete="off",@step="0.01" } })
                @Html.ValidationMessageFor(model => model.Producto.Precio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Producto.Foto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Archivo, new {@Type="file", @Accept=".jpg, .jpeg", @class = "form-control", @Required="required" })
                @Html.ValidationMessageFor(model => model.Archivo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear Nuevo Producto" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index", "Artesano")
</div>
