@model LoginArtesanos.Models.MainModel

@{
    ViewBag.Title = "Index";
}

<h2>Productos De La Feria</h2>

@if (!Request.IsAuthenticated)
{
    <p>
        <a href="@Url.Action("Login", "Account")">Login</a> /
        <a href="@Url.Action("Registro", "Account")">Registro</a>
    </p>
}
else
{
    <a href="@Url.Action("Index", "Artesano")">Mi Cuenta</a>
}

<hr />
<h4>Mis productos</h4>

@if (Model.Productos.Any() && Model.Productos.Count > 0)
{
    <div class="row">
        @foreach (var producto in Model.Productos.OrderByDescending(x => x.IdProducto))
        {
            <div class="col-sm-2 col-xs-4">
                <div class="thumbnail">
                    <div style="height: 210px;">
                        <img src="@string.Format($"/Upload/{producto.Foto}")" class="img-responsive img-thumbnail" alt="@producto.Nombre">
                    </div>
                    <div class="caption">
                        <h5>@producto.Nombre</h5>
                        <p>
                            <a href="javascript:void(0)" class="">Precio: @string.Format("{0:C}", @producto.Precio)</a>|
                            <a href="javascript:void(0)" class="">Stock: @producto.Stock</a>|
                            <a href="javascript:void(0)" class="">Peso: @producto.Peso</a>
                        </p>
                        <p>
                            <a class="btn btn-primary" href="@Url.Action("Verproducto", "Home", new { Id = producto.IdProducto})" role="button">Ver producto</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="text-center">
        <i class="fa fa-ban fa-4x"></i>
        <br />
        <br />
        No se han encontrado productos
    </div>
}
